<p> <%= link_to "All Cars", "/cars" %> </p>
<h1>Makers</h1>
<% @makers.each do |maker|  %>
<p>Name: <%= maker.name %> Created at: <%= maker.created_at %>
<% end %>
<p> <%= link_to "New Maker", "/makers/new" %> </p>
